@CHARSET "utf-8";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic|Exo+2:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext,cyrillic);

/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Exo 2', sans-serif;
*/
/* ALL */
*{
	font-family: 'Exo 2', sans-serif;
	font-weight:normal;
	font-size: 100%;
}

/*.testframe{
	border: 1px red dashed;
}

/* UPPER MENU (navigator) */

#page-header{
	height: 28px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	background: #333333;
	position: relative;
	z-index: 20;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#sub-page-header{
	height: 28px;
	border-bottom: 1px solid #e1e1e1;
	background: #333333;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position:relative;
	z-index: 20;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	margin-bottom: 10px;
}

#menu{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	font-size: 0;
	text-indent: -9999px;
}

#menu span {
	display: block;
	width: 40px;
	height: 28px;
	background: url(../img/icon-menu.png) no-repeat 50% 50%;
	background-size: 25px;
}

#menu-nav , .sub-menu-nav{
	float: right;
	margin: auto 0;
	font-size: 12px;
}
.sub-menu-nav{
	margin: 0 5px;
	color: #efefef;
}

#menu-nav{
	margin: 0 35px;;
}

#menu-nav a{
	width: 25px;
	padding: 0 15px;
}

#menu-nav a:first-child{
	border-left: none;
}

.sub-menu-nav a{
	width: 25px;
	padding: 0 27px;
}

#filter-sub-menu-nav{
	margin: 0 12px;
}

#filter-sub-menu-nav a{
	width: 50px;
	padding: 0 12px;
}

#menu-nav  a, .sub-menu-nav a{
	display: block;
	float: left;
	height: 25px;
	border-right: 1px solid #000000;
	border-left: 1px solid #4c4c4c;
	margin-top: 1px;
	line-height: 25px;
	font-weight: normal;
	color: #efefef;
	text-decoration: none;
	position: relative;
}

#menu-nav  a:last-child, .sub-menu-nav  a:last-child{
	border-right: none;
}

.sub-menu-nav  a:first-child{
	border-left: none;
}

#filter-sub-menu-nav{
	display: none;
}

#search-sub-menu-nav{
	display: none;
}

/* MENU AND SUBMENU ICONS */

#home-icon span, #search-icon span, #filter-icon span, #fav-icon span, #mine-icon span, #add-icon span {
	display: block;
	width: 25px;
	height: 25px;
}

#home-icon span{
	background: url(../img/icon-home.png) no-repeat 50% 50%;
	background-size: 15px;
}

#search-icon span{
	background: url(../img/icon-search.png) no-repeat 50% 50%;
	background-size: 15px;
}

#filter-icon span{
	background: url(../img/icon-filter.png) no-repeat 50% 50%;
	background-size: 15px;
}

#fav-icon span{
	background: url(../img/icon-favorite.png) no-repeat 50% 50%;
	background-size: 20px;
}

#add-icon span{
	background: url(../img/icon-add.png) no-repeat 50% 50%;
	background-size: 20px;
}

#mine-icon span{
	background: url(../img/icon-mine.png) no-repeat 50% 50%;
	background-size: 20px;
}

/* ERIKS UN LASMINA */

#ErikUznesManiKalna {
	display: none;
	position: fixed;
	left: 50%;
	top: 0;
	width: 100%;
	max-width: 640px;
	z-index: 10;
}

#side-menu .menu {
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/icon-menu.png) no-repeat 50% 50% rgba(255,255,255,.95);
	background-size: 36px;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
	cursor: pointer;
}

#side-menu .NesaucManiParOnkuli {
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/icon-up.png) no-repeat 50% 50% rgba(255,255,255,.95);
	background-size: 36px;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 5px;
	box-shadow: -1px 1px 2px rgba(0,0,0,.25);
	-webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.25);
	cursor: pointer;
}

/* EVENT LISTS */

.one-event-small:first-child{
	border-top: none;
	border-bottom: 1px solid rgba(155,155,155, 0.7);
}

.one-event-small:last-child{
	border-top: 1px solid rgba(255,255,255, 0.5);
	border-bottom: none;
}

.one-event-small{
	height: 50px;
	border-bottom: 1px solid rgba(155,155,155, 0.7);
	border-top: 1px solid rgba(255,255,255, 0.5);
}

/* FOOTER */

#page-footer {
	height: 28px;
	width: 100%;
	border-top: 1px solid #e1e1e1;
	background: #333333;
	position: relative;
	z-index: 100;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	margin-top: 10px;
	bottom: 0px;
}

#page-footer  a{
	display: block;
	float: left;
	height: 25px;
	width: 50px;
	padding: 0 17px;
	margin-top: 1px;
	line-height: 25px;
	font-weight: normal;
	color: #efefef;
	text-decoration: none;
	position: relative;
}